@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.WalletKit.Localization
@model Lazy.Abp.WalletKit.Web.Pages.WalletKit.IndexModel
@inject IStringLocalizer<WalletKitResource> L
@{
}
<h1>WalletKit</h1>
<p>@L["SamplePageMessage"]</p>
